<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284732434902-on69sva4vnlp9frh6hqhqn26urmqsmqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284732434902-on69sva4vnlp9frh6hqhqn26urmqsmqp</string>
	<key>API_KEY</key>
	<string>AIzaSyCpJBnVICMms9Tzc8HbVVQuwpXeqRPmU3w</string>
	<key>GCM_SENDER_ID</key>
	<string>284732434902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monteiro.mstore</string>
	<key>PROJECT_ID</key>
	<string>mstore-esms</string>
	<key>STORAGE_BUCKET</key>
	<string>mstore-esms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284732434902:ios:1a93e7825225ce75fa5c77</string>
</dict>
</plist>